
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
    max-width: 800px;
    max-width: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.section {
  padding: 20px;
}

p {
  font-family: var(--font-raleway), sans-serif;
}